body {
    background: rgba(32,196,250,1);
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

* {
    height: 150px;
}

.main {
    position: relative;
}

.menu {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    display: flex;
    flex-direction: column;
}

#wave {
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 150px;
  margin: 0px;
  padding-top: 100vh;
  animation-name: move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  
}

@keyframes move {
  0% {
    padding-top: 100vh;
  }
  50% {
    padding-top: 0;
  }
  100% {
    padding-top: 100vh;
  }
}


