* {
    height: 150px;
    color: #333;
}

body {
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: #20c4fa;
  }

.main {
    position: relative;
}

.menu {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25vh;
  left: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
 
}

.buttons {
  display: flex;
  flex-direction: row;
}

.play-button {
  margin-right: 20px;
  background: transparent;
  cursor: pointer;
}

.reload-button {
  margin-left: 20px;
  background: transparent;
  margin-top: -5px;
  cursor: pointer;
}

.wave-default {
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 150px;
  margin: 0px;
  padding-top: 25vh;
  
}
.wave-up {
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 150px;
  margin: 0px;
  padding-top: 100vh;
  animation-name: move-up;
  animation-duration: 25s;
  animation-delay: 0s;
}

.wave-down {
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(255, 255, 255);
  height: 150px;
  margin: 0px;
  padding-top: 100vh;
  animation-name: move-down;
  animation-duration: 5s;
  animation-delay: 0s;
}


@keyframes move-up {
  0% {
    padding-top: 25vh;
  }

  5% {
    padding-top: 100vh;
  }

  100% {
    padding-top: 0;
  }
}

@keyframes move-down {
  0% {
    padding-top: 0vh;
  }
  
  100% {
    padding-top: 100vh;
  }
}

