
/* 
Camel Case: camelCase
*/

.tasks {
    position: relative;
    background-color: blue;
}

.taskList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    width: 50vw;
    position: absolute;
    border-radius: 15px;
    top: 15vh;
    left: 25vw;
}

.taskCard {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 30px;
    width: 100% - 4px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    padding-left: 5px;
    background-color: #002f5e;
}

.taskName:hover {
    color: #20c4fa;
    transition: 0.2s ease-in-out;
}

h5 {
    height: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #002f5e;
    color: white;
    font-weight: lighter;
}

.todo-button {
    height: 40px;
    position: relative;
}

.todo-button:hover {
    background-color: #002f5e;
    transition: 0.2s ease-in-out;
}

.taskForm {
    width: 100%;
    display: flex;
}

.todo-input {
    height: 35px;
    width: 30vw;
    position: relative;
    align-self: center;
}

.icons svg {
    height: 30px;
    cursor: pointer;
    position: relative;
    background-color: #002f5e;
    fill: white;
}

::-webkit-scrollbar {
    width: 0;
}

.taskName {
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 17px;
    height: 20px;
    margin-top: 5px;
    width: 90%;
}

.editInput {
    height: 30px;
    width: 80%;
    margin-top: -1px;
    border-radius: 5px;
    margin-left: -6px;
}

.checkIcon:hover {
    fill: rgb(0, 218, 0);
    transition: 0.2s ease-in-out;
}

.icons {
    height: 25px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    width: 75px;
    background-color: #002f5e;
}

.allTasks {
    position: relative;
    overflow-y: scroll;
    height: 20vh;
    border: 2px #333 solid;
    border-radius: 10px;
    width: 30vw;
}

.redirect {
    width: 90%;
    height: 30px;
}

@media screen and (max-width: 733px) {
    .taskCard {
        font-size: 15px;
    }
    .taskName {
        font-size: 15px;
    }
}

@media screen and (max-width: 585px) {
    .taskCard {
        font-size: 10px;
    }
    .taskName {
        font-size: 10px;
    }
}