@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
  margin: 0;
  padding: 0;
  font: sans-serif;
  background-color: #fffefb;
  font-family: 'Rubik', sans-serif;
}

.navbar {
  position: absolute;
  z-index: 100;
}

.principalzona{
  background-color: #20c4fa;
}